
@{
    ViewBag.Title = "Historique";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentController = "Historique";
}

@model StagePFE.Models.CongesViewModels





<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Mes demandes</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                           
                        </div>
                        <div class="material-datatables">

                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>

                                        <th class="font-weight-bold">Date Debut</th>
                                        <th class="font-weight-bold">Date Fin</th>
                                        <th class="font-weight-bold">Motif</th>
                                        <th class="text-left font-weight-bold">Date </th>
                                        <th class="font-weight-bold">Type</th>
                                        <th class="font-weight-bold">Etat</th>
                                       

                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>

                                        <th>Date Debut</th>
                                        <th>Date Fin</th>
                                        <th>Motif</th>
                                        <th>Date Demande</th>
                                        <th>Type</th>
                                        <th>Etat</th>
                                        

                                    </tr>
                                </tfoot>
                                <tbody>


                                    @foreach (var item in Model.Demande)
                                    {

                                        <tr>

                                            <td>
                                                @item.DateDebut.Value.ToShortDateString()
                                            </td>
                                            <td>@item.DateFin.Value.ToShortDateString()</td>
                                            <td>@Html.DisplayFor(modelItem => item.Motif)</td>
                                            <td>@item.DateDemande.Value.ToShortDateString()</td>
                                            <td>@Html.DisplayFor(modelItem => item.Types.Nom)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Etat)</td>
                                           
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- end content-->
        </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
</div> <!-- end row -->



            
@section Scripts{
    <script>
         $(document).ready(function () {
             $('#datatables').DataTable({
                 "pagingType": "full_numbers",
                 "lengthMenu": [
                     [10, 25, 50, -1],
                     [10, 25, 50, "All"]
                 ],
                 responsive: true,
                 language: {
                     search: "_INPUT_",
                     searchPlaceholder: "Search records",
                 }

             });
             $(document).ready(function () {
                 $('#myTable').DataTable();
             });

             var table = $('#datatables').DataTable();

             // Edit record
             table.on('click', '.edit', function () {
                 $tr = $(this).closest('tr');

                 var data = table.row($tr).data();
                 alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
             });

             // Delete a record
             table.on('click', '.remove', function (e) {
                 $tr = $(this).closest('tr');
                 table.row($tr).remove().draw();
                 e.preventDefault();
             });

             //Like record
             table.on('click', '.like', function () {
                 alert('You clicked on Like button');
             });

             $('.card .material-datatables label').addClass('form-group');
         });

</script>
}