
@{
    ViewBag.Title = "DemandeEnAttente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model StagePFE.Models.CongesViewModels



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Demande en attente</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">

                        </div>
                        <div class="material-datatables">

                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>

                                    <tr>
                                        <th class="disabled-sorting "></th>
                                        <th class="font-weight-bold">
                                            Employé
                                        </th>
                                        <th class="font-weight-bold">
                                            Date Debut
                                        </th>
                                        <th class="font-weight-bold">
                                            Date Fin
                                        </th>


                                        <th class="font-weight-bold">
                                            Motif
                                        </th>
                                        <th class="font-weight-bold">
                                            Demande
                                        </th>
                                        <th class="font-weight-bold">
                                            Type
                                        </th>
                                        <th class="disabled-sorting text-right font-weight-bold">
                                            Action
                                        </th>



                                    </tr>



                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>
                                            Employé
                                        </th>
                                        <th>
                                            Date Début
                                        </th>
                                        <th>
                                            Date Fin
                                        </th>


                                        <th>
                                            Motif
                                        </th>
                                        <th class="text-center">
                                            Demande
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Action
                                        </th>



                                    </tr>
                                </tfoot>
                                <tbody>


                                    @foreach (var item in Model.Demande)
                                    {

                                        <tr>
                                            <td>
                                                @if (item.Employe.Sexe.Equals("Femme"))
                                                { <center>
                                                    <img src="~/New/Images/females_female_avatar_woman_people_faces_18409.png " width="60" height="60" />
                                                </center>}
                                                @if (item.Employe.Sexe.Equals("Homme"))
                                                {
                                                    <center>


                                                        <img src="~/New/Images/males_male_avatar_man_people_faces_18357.png" width="60" height="60" />
                                                    </center> }
                                            </td>
                                            <td>

                                                <div class="media">
                                                    <div class="profile-picture bg-gradient bg-primary has-message float-right d-flex mr-3">

                                                        @*<img src="~/Template/assets/img/profile-pic.jpg" width="44" height="44">*@
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="heading mt-1">
                                                            @Html.DisplayFor(modelItem => item.Employe.Nom) @Html.DisplayFor(modelItem => item.Employe.Prenom)
                                                        </div>
                                                        <small>@Html.DisplayFor(modelItem => item.Employe.Poste)</small>

                                                    </div>
                                                </div>

                                            </td>

                                            <td>
                                                @item.DateDebut.Value.ToShortDateString()

                                            </td>

                                            <td><center><div class="heading mt-1">@item.DateFin.Value.ToShortDateString()</div></center></td>

                                            <td>
                                                <center>
                                                    <div class="heading mt-1">
                                                        @Html.DisplayFor(modelItem => item.Motif)
                                                    </div>
                                                </center>
                                            </td>
                                            <td>
                                                <center>
                                                    <div class="heading mt-1">
                                                        @item.DateDemande.Value.ToShortDateString()
                                                    </div>
                                                </center>
                                            </td>
                                            <td>
                                                <center>
                                                    <div class="heading mt-1">
                                                        @Html.DisplayFor(modelItem => item.Types.Nom)
                                                    </div>
                                                </center>
                                            </td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" class="btn btn-info btn-link">
                                                    <i class="material-icons">notes</i>
                                                </button>
                                                <button id="@item.Id" type="button" rel="tooltip" class="btn btn-danger btn-link " onclick="sweetSupp(@item.Id,);" >
                                                    <i class="material-icons">close</i>
                                                </button>
                                                <button type="button" rel="tooltip" class="btn btn-info btn-success" onclick="sweet(@item.Id, @item.EmployeID,@item.NombreJours);">
                                                    <i class="material-icons">done</i>
                                                </button>
                                                
                                                
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- end content-->
        </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
</div> <!-- end row -->

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#datatables').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [
                    [10, 25, 50, -1],
                    [10, 25, 50, "All"]
                ],
                responsive: true,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search records",
                }

            });
            $(document).ready(function () {
                $('#myTable').DataTable();
            });

            var table = $('#datatables').DataTable();

            // Edit record
            table.on('click', '.edit', function () {
                $tr = $(this).closest('tr');

                var data = table.row($tr).data();
                alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            });

            // Delete a record
            table.on('click', '.remove', function (e) {
                $tr = $(this).closest('tr');
                table.row($tr).remove().draw();
                e.preventDefault();
            });

            //Like record
            table.on('click', '.like', function () {
                alert('You clicked on Like button');
            });

            $('.card .material-datatables label').addClass('form-group');
        });

    </script>


    <script>
        function sweet(id,emp,nbr) {

            swal({
                title: 'Confirmation',
                text: "Etes vous sur de vouloir Accepter cette demande?",

                showCancelButton: true,
                confirmButtonColor: '#98fb98',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Annuler',
                confirmButtonText: 'Accepter'
            }).then((value) => {
                window.location.assign("/Administrateur/DemandeAdmin/AccepterDemande/" + id +"?emp="+emp+"&nbr="+nbr)
                    
                swal(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )


            })

        }

    </script>


<script>
        function sweetSupp(id) {

            swal({
                title: 'Confirmation',
                text: "Etes vous sur de vouloir refuser cette demande?",

                showCancelButton: true,
                confirmButtonColor: '#98fb98',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Annuler',
                confirmButtonText: 'Supprimer'
            }).then((value) => {
                window.location.assign("/Administrateur/DemandeAdmin/RejetterDemande/" + id)

                swal(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )


            })

        }

</script>





}





