@model StagePFE.Models.CongesViewModels
@{
    ViewBag.Title = "EnAttente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main style="background-color:white" class="main-content p-5" role="main">
    <div class="row">
        <div class="col-md-12">


            <div class="col-md-6 pb-5">


                <table style="width:950px" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Date Debut</th>
                            <th>Date Fin</th>
                            <th>Motif</th>
                            <th>Date Demande</th>
                            <th>type</th>
                            <th>Durée</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Demande)
                        {
                            <tr>

                                <td><center>@Html.DisplayFor(modelItem => item.Id)</center></td>
                                <td><center>@Html.DisplayFor(modelItem => item.Employe.Nom)</center></td>
                                <td><center>@Html.DisplayFor(modelItem => item.DateDebut)</center></td>
                                <td><center>@Html.DisplayFor(modelItem => item.DateFin)</center></td>
                                <td><center>@Html.DisplayFor(modelItem => item.Motif)</center></td>
                                <td><center>@Html.DisplayFor(modelItem => item.DateDemande)</center></td>
                                <td><center>@Html.DisplayFor(modelItem => item.Types.Nom)</center></td>
                                <td><center>@Html.DisplayFor(modelItem => item.NombreJours)</center></td>
                                <td>
                                    @Html.ActionLink("Accepter", "AccepterDemande", new { id = item.Id, em=item.EmployeID, nbr=item.NombreJours }) |
                                    @Html.ActionLink("Refuser", "RejetterDemande", new { id = item.Id })
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>
