
@{
    ViewBag.Title = "AssignRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model StagePFE.Areas.Administrateur.Models.AssignUserRoleViewModel
@{
    ViewBag.Title = "Assign Role";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AssignRole", "Role", FormMethod.Post,
                                    new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Role, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-10">
            @Html.TextBoxFor(m => m.Role, new { @class = "form-control", autofocus = true })
        </div>
    </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-xs-2 control-label" })
            <div class="col-xs-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <input type="submit" class="btn btn-default" value="Assign" />
            </div>
        </div>
}
