

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header card-header-danger card-header-icon">
        <div class="card-icon">
            <i class="material-icons">assignment</i>
        </div>
        <h4 class="card-title">Create Role</h4>
    </div>
    <div class="card-body">
        <div class="toolbar">
            @Html.ActionLink("List Roles", "Index") @*| @Html.ActionLink("Manage User Role", "ManageUserRoles")*@
        </div>
       



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <br />
            <div>
                Role name
            </div>
            <p>
                @Html.TextBox("RoleName")
            </p>
            <input type="submit" value="Ajouter" />
        }
        @ViewBag.ResultMessage
    </div>

    </div>

