@model StagePFE.Models.Equipes

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ChefProjet/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Equipes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdChef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdChef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdMembre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMembre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departements.NomDepartement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departements.NomDepartement)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
